
{% extends "layout.html" %}
{% block content %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nobis ipsam et dolor, laborum fugit saepe molestias laboriosam alias incidunt atque magni aperiam, ut ducimus soluta magnam hic aliquid unde!</p>
<h2><a href="{{url_for('Home')}}">back to home</a></h2>
<div style="display: flex;justify-content: space-between;flex-wrap: wrap;">
    <div style="width: 100px;height: 100px;background-color: blueviolet;margin:20px;"></div>
    <div style="width: 100px;height: 100px;background-color: blueviolet;margin:20px;"></div>
    <div style="width: 100px;height: 100px;background-color: blueviolet;margin:20px;"></div>
    <div style="width: 100px;height: 100px;background-color: blueviolet;margin:20px;"></div>
    <div style="width: 100px;height: 100px;background-color: blueviolet;margin:20px;"></div>
    <div style="width: 100px;height: 100px;background-color: blueviolet;margin:20px;"></div>
    <div style="width: 100px;height: 100px;background-color: blueviolet;margin:20px;"></div>
    <div style="width: 100px;height: 100px;background-color: blueviolet;margin:20px;"></div>
    <div style="width: 100px;height: 100px;background-color: blueviolet;margin:20px;"></div>
    <div style="width: 100px;height: 100px;background-color: blueviolet;margin:20px;"></div>
    <div style="width: 100px;height: 100px;background-color: blueviolet;margin:20px;"></div>
    <div style="width: 100px;height: 100px;background-color: blueviolet;margin:20px;"></div>
    <div style="width: 100px;height: 100px;background-color: blueviolet;margin:20px;"></div>
    <div style="width: 100px;height: 100px;background-color: blueviolet;margin:20px;"></div>
    <div style="width: 100px;height: 100px;background-color: blueviolet;margin:20px;"></div>
    <div style="width: 100px;height: 100px;background-color: blueviolet;margin:20px;"></div>
</div>
{% endblock content %}